.hero {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://t3.ftcdn.net/jpg/07/15/47/48/360_F_715474880_CWVi1qHU3NH173hn9ZX1rg1aD8jyfBnZ.jpg")
    center/cover no-repeat;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(30, 30, 30, 0.6);
  z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffffff;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
}

.hero p {
  font-size: 1.2rem;
  color: #ccc;
}

@media (max-width: 768px) {
  .hero {
    height: 40vh;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
}
